<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>

    <div class="blogs content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus assumenda consectetur autem officiis. Ut, sapiente est! Dolorum error veritatis facilis eligendi, earum, quasi excepturi, unde officiis natus dicta quod a.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus assumenda consectetur autem officiis. Ut, sapiente est! Dolorum error veritatis facilis eligendi, earum, quasi excepturi, unde officiis natus dicta quod a.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus assumenda consectetur autem officiis. Ut, sapiente est! Dolorum error veritatis facilis eligendi, earum, quasi excepturi, unde officiis natus dicta quod a.</p>    
    </div>

    <%- include('./partials/footer.ejs') %>
    
</body>
</html>